* {
    font-family: monospace;
}

body {
    margin: 0;
}

.loading {
    position: absolute;
    color: #a3ffb8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    skew(-20deg);
    font-size: 7vw;
    border: 0.3vw solid #a3ffb8;
    border-radius: 0.4vw;
    padding: 1vw 3vw;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.1vw);
    width: 70vw;
    box-sizing: border-box;
    animation: loadIni 0.4s, glitch 1s infinite, borderGlitch 1s infinite;
}

.loadMessage {
    transform: skew(20deg);
    margin-bottom: -2vw;
    visibility: hidden;
    width: 15ch;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.welcome {
    position: absolute;
    color: #a3ffb8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    skew(-20deg);
    font-size: 7vw;
    border: 0.3vw solid #a3ffb8;
    border-radius: 0.4vw;
    padding: 1vw 3vw;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.1vw);
    width: 85vw;
    box-sizing: border-box;
    visibility: hidden;
}

.welcMessage, .name {
    display: inline-block;
}

.welcMessage {
    transform: skew(20deg);
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: -2vw;
    font-family: monospace;
    visibility: hidden;
}

.name {
    transform: skew(20deg);
    font-size: 7vw;
    width: 40vw;
    background: none;
    border: none;
    border-bottom: 0.3vw solid #a3ffb8;
    color: #a3ffb8;
    outline: none;
    visibility: hidden;
    text-align: center;
}

.name::placeholder {
    color: rgba(121, 188, 136, 0.3);
    animation: none;
    text-shadow: none;
    filter: none;
    transform: none;
}

@keyframes loadIni {
    from {
        width: 0;
    } to {
        width: 70vw;
    }
}

@keyframes unloadIni {
    from {
        width: 70vw;
        opacity: 1;
    } to {
        width: 0;
        opacity: 0;
    }
}

@keyframes loadWelc {
    from {
        width: 0;
    } to {
        width: 85vw;
    }
}

@keyframes unloadWelc {
    from {
        width: 85vw;
        opacity: 1;
    } to {
        width: 0;
        opacity: 0;
    }
}

@keyframes typingIni {
    from {
        width: 0;
    } to {
        width: 15ch;
    }
}

@keyframes typingWelc {
    from {
        width: 0;
    } to {
        width: 9ch;
    }
}

@keyframes reveal {
    from {
        width: 0;
    }
    to {
        width: 40vw;
    }
}

@keyframes glitch {
    0% {
        text-shadow: 2px 0 #1b8f0d, -2px 0 #006a55;
    }
    25% {
        text-shadow: -2px -2px #006a55, 2px 2px #1b8f0d;
    }
    50% {
        text-shadow: 2px 2px #1b8f0d, -2px -2px #006a55;
    }
    75% {
        text-shadow: -1px 1px #006a55, 1px -1px #1b8f0d;
    }
    100% {
        text-shadow: 0 0 #1b8f0d, -2px 0 #006a55;
    }
}

@keyframes borderGlitch {
    0%, 100% {
        box-shadow: 0 0 0.5vw rgba(0, 255, 0, 0.8);
    }
    25% {
        box-shadow: -0.3vw 0 0.7vw #006400, 0.3vw 0 0.7vw #66ff66;
    }
    50% {
        box-shadow: -0.2vw 0 0.3vw #00ff7f, 0.2vw 0 0.5vw #32cd32;
    }
    75% {
        box-shadow: -0.4vw 0 0.4vw #00b300, 0.4vw 0 1vw #98fb98;
    }
}

@keyframes borderGlitchBottom {
    0%, 100% {
        box-shadow: 0 0.5vw 0.5vw -0.5vw rgba(0, 255, 0, 0.8);
    }
    25% {
        box-shadow: 0 0.7vw 0.7vw -0.7vw #006400, 0 0.7vw 0.7vw -0.7vw #66ff66;
    }
    50% {
        box-shadow: 0 0.3vw 0.3vw -0.3vw #00ff7f, 0 0.3vw 0.3vw -0.3vw #32cd32;
    }
    75% {
        box-shadow: 0 0.2vw 0.2vw -0.2vw #00b300, 0 0.2vw 0.2vw -0.2vw #98fb98;
    }
}
